.page-header
  %h1 Nice places around

%ul
  - @venues.each do |venue|
    %li
      = link_to_venue(venue)
      = distance_of_time_in_words(walking_time(venue.distance), 0, true)
      = "(starving dev will be there in #{distance_of_time_in_words(running_time(venue.distance), 0, true)})"
      .muted
        = venue.address